<h1>Hello World</h1>
<h2>alguma coisa</h2>
<p>paragrafo</p>
<div>
  <a href="#">Clique Aqui</a>
</div>
<app-first-component></app-first-component>
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data> <!-- como esse componente precisou pegar informações do componente pai, temos que chamar por aqui também-->
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-eventos></app-eventos>
<!-- como podemos ver é aqui que exportamos os componentes para serem redenrizados em tela, é como se fosse o app.tsx do react-->