<div class="class">
  <h2 [ngStyle]=" { 'font-size': size +'px', 'font-family': font, color: color  } ">Testando diretivas de estilos / style</h2>
  <h2 [ngClass]="classes">Testando diretivas de classe 1</h2>
  <!--aqui estamos usando ng para chamar uma classe que declaramos la no ts e colocamos no css, -->
  <h2 [ngClass]="classes">Testando diretivas de classe 2</h2>
  <h2 [ngClass]="underline">Testando</h2>
</div>

<!--o ng se chama diretivas, é um recurso que pode realizar diversas funções no sistema, como aplicar estilos a um elemento. Exemplo ngAlgumaCoisa-->