<div class="class">
  <!--essa div esta chamando no nosso css global-->
  <h2 class="title">Nome: {{name}}</h2> <!-- o nome que esta entre chaves é a variavel que declaramos no typescript do nosso componente (first-component-component.ts)-->
  <p>Idade: {{age}}</p>
  <p>Profissão: {{job}}</p>

  <div>
    <a href="#">Veja mais sobre o Matheus</a>
  </div>
</div>

<!-- Para comerçarmos instalamos o Angular com o comando "npm install -g @angular/cli" no terminal de sua preferência, depois criamos um projeto angular, mostrando ao terminal onde vc quer criar e executar o comando "ng new <nome do projeto>, depois de criado, abrimos ele com vscode e clicamos com botão direito no nome do projeto e abrimos um terminal integrado e executamos o comando ng serve para rodar no browser com a porta 4200" -->

<!--Com o projeto criado, podemos dar inicio à criação dos componentes por meio do comando "ng generate component nomedapasta/nomedoarquivo"(abra outro terminal para que ele continue rodando no browser), ele irá criar um componente com os seguintes arquivos:

CREATE src/app/components/if-render/if-render.component.html (24 bytes)
CREATE src/app/components/if-render/if-render.component.spec.ts (614 bytes)
CREATE src/app/components/if-render/if-render.component.ts (286 bytes)
CREATE src/app/components/if-render/if-render.component.css (0 bytes)
UPDATE src/app/app.module.ts (764 bytes)

Temos aqui html 
-->